@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway|Slabo+27px|Roboto:300|Oswald:300');

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body,div,dl,dt,dd,ul,ol,li,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
.section{
  text-align:center;
}
#menu li {
  display:inline-block;
  margin: 0px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);

}
#menu li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
  text-align: right;
}


#section0{
  background-image: url(../img/bg5.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; 
}

#header{
  position: absolute;
}

/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
  position:fixed;
  bottom: 10px;
  right:10px;
  z-index: 999;
 }


.text-editor-wrap {
  display: block;
  margin: auto;
  max-width: 530px;
  border-radius: 10px;
  z-index: 100;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.text-body {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  height: 310px;
  position: relative;
  color: #f0f0f0;
  font-size: 1.2em;
  line-height: 1.40em;
  font-weight: 500;
  text-align: left;
  overflow: scroll;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

h1 {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  top:0;
  font-size: 70px;
}

section {
    width: 90%;
    margin: auto;
    padding: 10px;
}
#section2 div.one {
    width: 30%;
    float: left;
}
#section2 div.two {
    margin-left: 30%;
}

/*#section1 div.one {
  width: 70%;
    float: left;
}
#section1 div.two {
  margin-left: 70%;
}*/

div.vis_wrap {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
    height: 520px;
}

div.vis_wrap_right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
    height: 520px;
    clear: none;
}

.scroll-indicator { 
  position: absolute;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0,0,0,0.5);
  left: 0;
  right: 0;
  font-size: 50px;
  bottom: 0;
}

.inner-text {
  width: 470px;
  position: absolute; 
  margin-top: 100px; 
  opacity: 0
}

#sc_ind {
  top: 91%;
  display:none;
}

.bouncing {
  -webkit-animation: bounce 1s infinite; 
  animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
   0% { top: 91%; }
   50%   { top: 88%; }
   100% { top: 91%; }
}

@keyframes bounce {
   0% { top: 91%; }
   50%   { top: 88%; }
   100% { top: 91%; }
}

.fa-chevron-down {
  cursor: pointer;
  cursor: hand;
}

#section0 h1 {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:4%;
  color: white;
}


/*#section1 .inner-text {
  width: inherit !important;
  margin-right: 30px;
  margin-bottom: 100px;
}
*/
#section2 .inner-text {
  width: inherit !important;
  margin-right: 30px;
  margin-bottom: 100px;
}

#section3 img{
      left: 130%;
      position:relative;
  }

.closing {
  font-size: 1.5em;
  width: 50%;
  margin: 0 auto;
}

.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
/*SWITCHES*/
.switch {
  float: left;
  margin-left: 0px
}

.cmn-toggle {
  position: absolute;
  /*margin-left: -9999px;*/
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-yes-no + label {
  width: 290px;
  height: 100px;
}
input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-weight:normal; 
  font-size: 20px;
  text-align: center;
  /*line-height: 60px;*/
  margin-bottom: 30px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #dddddd;
  content: attr(data-off);
  transition: transform 0.5s;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #8ce196;
  content: attr(data-on);
  transition: transform 0.5s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  transform: rotateY(0);
}
/*SWITCHES END*/

/*BODY POINTS */
.bodypoints {
      fill: #fee0d2;
      stroke: #de2d26;
      stroke-width: 1px;
      cursor: pointer;
      cursor: hand;
}

.bodypoints.hovered {
  opacity: 0.5;
}
.bodypoints.clicked {

}
div.tooltip { 
    position: absolute;     
    text-align: center;     
  /*  width: 60px;          
    height: 28px;*/         
    padding: 2px;       
    font: 12px sans-serif;    
    background: #99d8c9; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}
.clickedbody {
  stroke-width: 2px;
}
/*BODY POINTS END*/
.axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 13px;
}
/*CSS for 2017 data*/
.toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
    }

.bar {
    fill: rgb(249, 218, 126);
    fill-opacity: .9;
}

.tbar{
  fill:#F5F5F5;
}

.box,.box_death{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  position: relative;
  margin: 20px;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  padding: 0px;
}

#section2017_vis1 .box {
  background-color: rgb(34, 165, 151);
}

#section2017_vis2 .box_death {
  background-color: #1693A7;
}

.box text, .box_death text{
  fill:white;
}

.box .textup, .box_death .textup{
  font-weight: 400;
}
.tlabel{
  display: block;
  stroke:rgb(112,128,144);
  fill:rgb(112,128,144);
  font-weight: 300;
  opacity: 1;
  -webkit-font-smoothing:antialiased;
}

.box_inner {
    width: 50%;
    height: 200px;
    background: red;
}

.box_inner_1 {
  float: left;
}

.donut_text_wrapper1 {
  position: absolute;
  overflow: hidden;
  left:0;
  height: 65%; 
  width: 550px;
  top: 20%;
}
.donut_text_wrapper2 {
  position: relative;
    overflow: hidden;
    height: 100%; 

}

#donut-charts {
  z-index: 100;
}

#section1 h3 {
  color: #00DFFC;
  margin-bottom: 30px;
  font-size: 1.5em;
  margin-left: 250px;
  -webkit-transition: 1s;
    transition: 1s;
}

.donut_chart_desc {
  position: absolute;
  left: -280px;
  height: 100%;
  max-width: 400px;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.donut_chart_desc p{
  opacity: 0;
  -webkit-transition: 1s;
    transition: 1s;
}

.donut_chart_desc:hover{
    left: -30px;
    -webkit-transition: left 2s; /* For Safari 3.1 to 6.0 */
    transition: left 1s;
}

.donut_chart_desc {
  overflow: hidden;
}

#hover {
  position: absolute;
  width: 100px;
  left: 120px;
  top: 12%;
  display: none;
}

#donut_chart_desc:hover h3{
    -webkit-transition: 1s;
    transition: 1s;
    margin-left: 0;
}

.donut_chart_desc:hover p{
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1;
}

.donut_chart_desc .text-body{
  height: 100%;
  padding-left: 50px;
  text-align: justify;
  overflow:hidden;
}

.section2_row {
  padding-left: 100px; 
}

#visulaizationLines {
  float: left;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#human{
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; right: 0;
}

.line_legend {
  margin: auto;
  max-height: 300px;
  position: absolute;
  top: 0; bottom: 0; right: 0;
}

.line_legend table {
  min-width: 200px;
  border-collapse:separate; 
  border-spacing:0.5em;
  font-size: 0.8em;
}

.line_legend table td {
  text-align: left;
  min-width: 15px;
}
.line_legend table td {
  text-align: left;
  min-width: 15px;
}

.line_legend table td.color {
  width: 15px;
}

.line_legend table tr {
  display: none;
}

#section2 .col-md-6 {
  position: relative;
  height: 600px;
}

#section2 .col-md-3 {
  position: relative;
  height: 600px;
}

#section2 .col-md-2 {
  position: relative;
  height: 600px;
}

.cause .btn {
  font-family: 'Roboto', sans-serif !important;
  vertical-align: middle
}

.cause .cust {
  font-size: 1.4em;
  vertical-align: middle;
  margin-right: 5px;
}


#filters {
  float: left;
  height: 70%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px; 
  background-color: rgba(0,0,0,0.1);
}

#filters table td{
  padding: 0px 10px 0px 10px;
}

#filters table img{
  padding: 0px;
  width: 60px;
  cursor: pointer;
  cursor: hand;
  opacity: 0.2;
}

#filters table img:hover{
  opacity: 0.3;
}
.clicked_gender {
  opacity: 1.0 !important;
}

#filters table td.labeling{
  font-weight: bold;
  color: #444;
  font-size: 1.1em;
  text-align: right;
}

#filters table tr.title td{
  font-weight: bold;
  color: #444;
  font-size: 1.6em;
  text-align: center;
  padding-bottom: 40px ;
}

#filters table tr.cause td{
  text-align: center;
  padding-top: 40px ;
}

.tips{
  text-align: left;
  font-size: 0.85em;
}

.tips ul {
  padding-top: 40px;
}